# dependencies
/node_modules
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# webstorm
/.idea

# misc
/client/.DS_Store
/client/.env
/.env

/client/npm-debug.log*
/npm-debug.log*